/*
    USER STYLING
*/
.home-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.user.home-container .list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
    text-align: center;
}
.user.home-container .list-container .list {
    overflow: hidden;
    border-radius: 15px;
    max-height: 300px;
    position: relative;
    box-shadow: 0 0 10px #b7b7b7;
}
.user.home-container .list .image-con {
    overflow: hidden;
    pointer-events: none;
    min-height: 200px;
    background-image: url('../assets/loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
}
.user.home-container .list .image-con img {
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.user.home-container .list .info-con {
    position: absolute;
    bottom: 0;
    z-index: 100;
    background: #fff;
    width: 100%;
    overflow: hidden;
    border-top-right-radius: 70px;
    height: 100%;
    transform: translateY(80%);
    transition: all 0.5s ease;
}

.user.home-container .list .info-con p:nth-child(1) {
    color: var(--main-red);
    padding: 10px 0 30px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid var(--main-red);
    font-size: 13px;
}

.user.home-container .list:hover > .info-con {
    transform: translateY(0);
}

@media screen and (max-width: 450px) {
    .user.home-container .list-container {
        grid-template-columns: 1fr;
    }
}

/*
    HOME ADMIN
*/
.admin.home-container > .intro-container {
    display: flex;
    gap: 40px;
    margin: 20px 0 50px;
}

@media screen and (max-width: 769px) {
    .admin.home-container > .intro-container {
        flex-direction: column;
    }
}

.admin.home-container .status,
.admin.home-container .appointments {
    flex: 1;
}
.admin.home-container .status .true,
.admin.home-container .status .false {
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
}
.admin.home-container .status .true,
.admin.home-container .status button.true {
    background: #347734;
}
.admin.home-container .status .false,
.admin.home-container .status button.false {
    background: var(--main-red);
}

.admin.home-container .status button {
    border: none;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    outline: none;
}

.admin .edit-data-link {
    color: #fff;
    background: var(--main-red);
    padding: 10px 15px 12px;
    display: inline-block;
    text-transform: uppercase;
}

/*
    ADMIN EDIT BLOOD CONTAINER
*/
.edit-blood-container .input-fields {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 15px 30px;
}
.edit-blood-container .input-fields button {
    background: var(--main-red);
    text-transform: uppercase;
    padding: 0;
    border: none;
    border-radius: 10px;
    color: #fff;
    display: block;
    height: 45px;
}

.admin.home-container .slots-container {
    max-height: 150px;
    overflow: hidden;
    margin-bottom: 15px;
}
.admin.home-container .slots-container div {
    margin: 10px 0;
}
.admin.home-container .slots-container span {
    padding: 5px 10px;
    background: var(--lable-color);
    color: #fff;
    margin-right: 5px;
}

/*
    SLOTS PAGE ADMIN
*/
.slots-page .weekday,
.book-appointments .weekday {
    margin-bottom: 20px;
    background: #f2f2f2;
    padding: 10px 15px;
    border-radius: 5px;
}
.slots-page .weekday section,
.book-appointments .weekday section {
    display: inline-block;
    margin-right: 5px;
    background: var(--main-red);
    padding: 5px;
    color: #fff;
    margin-top: 10px;
    user-select: none;
}

.slots-page .weekday section small,
.book-appointments .weekday section small {
    cursor: pointer;
}
.book-appointments .confirm, 
.book-appointments .cancel {
    background: var(--main-red);
    color: #fff;
    padding: 10px;
    border: none;
    margin-right: 10px;
    margin-top: 10px;
    outline: none;
    margin-bottom: 10px;
}

.slots-page .weekday > div button {
    padding: 4px 10px;
    border: none;
    border-radius: 50%;
    color: #fff;
    margin-left: 15px;
    background: var(--main-red);
    font-weight: bolder;
}
.slots-page .update-slots-btn {
    width: 100%;
    border: none;
    background: var(--main-red);
    color: #fff;
    text-transform: uppercase;
    padding: 15px 0;
    font-weight: bolder;
}

/*
    USER APPOINTMENT PAGE
*/
.user-appointment-page .info,
.user-appointment-page .appointments {
    margin-bottom: 50px;
}
